<div>
    <h2>Rekrutex</h2>
</div>
<br>
<hr>
<br>
<div>
    <ul>
        <li><a routerLink="/strona-glowna" routerLinkActive="active">Strona główna</a></li>
        <li><a routerLink="/kategorie" routerLinkActive="active">Kategorie</a></li>
        <li><a routerLink="/logowanie" routerLinkActive="active">Logowanie</a></li>
      </ul> 
</div>
<br>
<h3>Logowanie</h3>
<br>
<hr>
<br>
<a routerLink="/rejestracja" routerLinkActive="active"><h3>Rejestracja</h3></a>
<br>
<hr>
<br>
<a routerLink="/panel-administratora" routerLinkActive="active"><h3>Panel Administratora</h3></a>