<br>
<div class="main-div" align="center">
    <br>
    <div class="panel-header" align="center"><h1>Panel Administratora</h1><hr></div>
    <br>
    <a>
        <div id="div1" (click)="tabChange('jeden')">
            Dodanie pytania
        </div>
    </a>
    <a>
        <div id="div2" (click)="tabChange('dwa')">
            Usunięcie pytania
        </div>
    </a>
    <a>
        <div id="div3" (click)="tabChange('trzy')">
            Wyświetlenie użytykowników
        </div>
    </a>
    <a>
        <div id="div4" (click)="tabChange('cztery')">
            Wyświetlenie wszystkich pytań
        </div>
    </a>
    <div class ="zakladka-admina">
        <div class="content-value" *ngIf="id === 'jeden'" align="center">
            <br>
            <label>Kategoria: </label>
            <select>
                <option>Informatyk</option>
                <option>Elektronik</option>
            </select>
            <hr width="50%">
            <label>Treść pytania: </label>
            <input id="password" type="tekst" class="form-control" placeholder=""><br>
            <label>Odpowiedź 1: </label>
            <input id="password" type="tekst" class="form-control" placeholder=""><br>
            <label>Odpowiedź 2: </label>
            <input id="password" type="tekst" class="form-control" placeholder=""><br>
            <label>Odpowiedź 3: </label>
            <input id="password" type="tekst" class="form-control" placeholder=""><br>
            <label>Odpowiedź 4: </label>
            <input id="password" type="tekst" class="form-control" placeholder=""><br>
            <label>Poprawna odpowiedź: </label>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select><br>
            <button>Dodaj</button>
        </div>
        <div class="content-value" *ngIf="id === 'dwa'" align="center">
            <br>
            <label>Kategoria: </label>
            <select>
                <option>Informatyk</option>
                <option>Elektronik</option>
            </select>
            <hr width="50%">
            <label>Podaj pytanie: </label>
            <input id="password" type="tekst" class="form-control" placeholder=""><br>
            
            <button>Usuń</button>
        </div>
        <div class="content-value" *ngIf="id === 'trzy'" align="center">
            <label>Imię: </label>
            <input id="password" type="tekst" class="form-control" placeholder=""><br>
            <label>Nazwisko: </label>
            <input id="password" type="tekst" class="form-control" placeholder=""><br>
            <button>Wyświetl</button>
        </div>
        <div class="content-value" *ngIf="id === 'cztery'" align="center">
            <br>
            <label>Kategoria: </label>
            <select>
                <option>Informatyk</option>
                <option>Elektronik</option>
            </select>
            <hr width="50%">
            <button>Wyświetl</button>
        </div>
    </div>
</div>

<br>
