<div>
    <h2>Rekrutex</h2>
</div>
<br>
<hr>
<br>
<div>
    <ul>
        <li><a routerLink="/strona-glowna" routerLinkActive="active">Strona główna</a></li>
        <li><a routerLink="/kategorie" routerLinkActive="active">Kategorie</a></li>
        <li><a routerLink="/logowanie" routerLinkActive="active">Logowanie</a></li>
      </ul> 
</div>
<br>
<h3>Panel Administratora</h3>
<h1>Pomysły:</h1>
<div>
    <ol>
        <li>Dodanie pytania do wybranej kategorii</li>
        <li>Usunięcie pytania z wybranej kategorii</li>
        <li>Wyświetlenie wszystkich pytań z danej kategorii (z odpowiedziami)</li>
        <li>Wyświetlenie użytkowników (ile uzyskał punktów)</li>
    </ol>
</div>
