<br>
<div class="main-div" align="center">
  <div class="okno_tlo" id="panel_okno_tlo">
    <div class="okno_cialo" id="panel_okno_cialo">
      <div class="naglowek_tlo" id="panel_naglowek_tlo">
        <div class="naglowek_cialo" id="panel_naglowek_cialo">
          <h1>Panel Administratora</h1>
        </div>
      </div>
      <hr>
      <div class="naglowek_tlo" id="panel_opcje_tlo">
          <a>
            <div class="naglowek_cialo" id="opcja_1" (click)="tabChange('jeden')">
                Dodanie pytania
            </div>
          </a>
          <a>
            <div class="naglowek_cialo" id="opcja_2" (click)="tabChange('dwa')">
                Wyświetlenie użytykowników
            </div>
          </a>
          <a>
            <div class="naglowek_cialo" id="opcja_3" (click)="tabChange('trzy')">
                Wyświetlenie wszystkich pytań
            </div>
          </a>
      </div>
      
      <div class="tresc_tlo" id="panel_tresc_tlo">
        <div class="tresc_cialo" id="panel_tresc_cialo">
          <br>
          <div class ="zakladka-admina">
            <div class="content-value" *ngIf="id === 'jeden'" align="center">
              <form [formGroup]="dodatniePytaniaForm" (ngSubmit)="submit()">
                <table id="dodanie_pytana">
                  <tr>
                    <td><label>Kategoria: </label></td>
                    <td>
                      <select id="test2">
                        <option value=Informatyk selected>Informatyk</option>
                        <option value=Elektronik>Elektronik</option>
                      </select>
                    </td>
                  </tr>
                  
                <hr width="100%">
                  <tr>
                    <td><label>Treść pytania: </label></td>
                    <td><input id="tresc_pytania" type="text" class="form-control" placeholder="" formControlName="dodatniePytania_tresc"><br></td>
                  </tr>
                  <tr>
                    <td><label>Odpowiedź 1: </label></td>
                    <td><input id="odp1" type="text" class="form-control" placeholder="" formControlName="dodatniePytania_odp1"><br></td>
                  </tr>
                  <tr>
                    <td><label>Odpowiedź 2: </label></td>
                    <td><input id="odp2" type="text" class="form-control" placeholder="" formControlName="dodatniePytania_odp2"><br></td>
                  </tr>
                  <tr>
                    <td><label>Odpowiedź 3: </label></td>
                    <td><input id="odp3" type="text" class="form-control" placeholder="" formControlName="dodatniePytania_odp3"><br></td>
                  </tr>
                  <tr>
                    <td><label>Odpowiedź 4: </label></td>
                    <td><input id="odp4" type="text" class="form-control" placeholder="" formControlName="dodatniePytania_odp4"><br></td>
                  </tr>
                  <hr>
                  <tr>
                    <td><label>Poprawna: </label></td>
                    <td><select id="test3">
                      <option [value]="1" selected>1</option>
                      <option [value]="2">2</option>
                      <option [value]="3">3</option>
                      <option [value]="4">4</option>
                  </select></td>
                  </tr>
                  
                  <br>
                </table>
              </form>
                
                <div class="przycisk_tlo" id="panel_dodaj_tlo">
                  <div class="przycisk_cialo" id="panel_dodaj_cialo">
                    <input class="przycisk_input" type="submit" id="panel_dodaj_pytanie">
                    <label class="przycisk_label" id="panel_dodaj_label" for="panel_dodaj_pytanie" (click)="submit()">Dodaj</label>
                  </div>
                </div>
            </div>
            <div class="content-value" *ngIf="id === 'dwa'" align="center">
                <label>Lista użytkowników:</label>
                <hr>
                <table id="tabela_uzytkownikow">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Imię</th>
                      <th>Nazwisko</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tr *ngFor='let user of users'>
                    <td>{{user.id}}</td>
                    <td>{{user.imie}}</td>
                    <td>{{user.nazwisko}}</td>
                    <td>{{user.email}}</td>
                  </tr>
                </table>
                <hr>
                <br>
            </div>
            <div class="content-value" *ngIf="id === 'trzy'" align="center">
                <label>Kategoria: </label>
                <select id="test">
                    <option *ngFor='let category of categories' [value]="category.kategoria">{{category.kategoria}}</option>
                </select>
                <hr width="50%">
                <div class="przycisk_tlo" id="panel_wyswietl_tlo">
                  <div class="przycisk_cialo" id="panel_wyswietl_cialo">
                    <input class="przycisk_input" (click)="buttonClickPytania()" id="panel_wyswietl_pytania">
                    <label class="przycisk_label" id="panel_wyswietl_label" for="panel_wyswietl_pytania">Wyświetl</label>
                  </div>
                </div>
                
                <hr>
                <div *ngIf="bool === 'true'">
                  <table id="tabela_pytania"  *ngFor='let question of Questions'>
                  <tr class="tabela_pytania_head">
                    <td>ID: {{question.id}}</td>
                    <td></td>
                    <td>{{question.kategoria}}</td>
                  </tr>
                  <tr class="tabela_pytania_tresc">
                    <td colspan="3">{{question.tresc}}</td>
                  </tr>
                  <tr class="tabela_pytania_pytanie">
                    <td>#1: </td>
                    <td colspan="2">{{question.odp1}}</td>
                  </tr>
                  <tr class="tabela_pytania_pytanie">
                    <td>#2: </td>
                    <td colspan="2">{{question.odp2}}</td>
                  </tr>
                  <tr class="tabela_pytania_pytanie">
                    <td>#3: </td>
                    <td colspan="2">{{question.odp3}}</td>
                  </tr>
                  <tr class="tabela_pytania_pytanie">
                    <td>#4: </td>
                    <td colspan="2">{{question.odp4}}</td>
                  </tr>
                  <tr class="tabela_pytania_foot">
                    <td colspan="2">Poprawna: {{question.prawidlowa}}</td>
                    <td></td>
                    
                  </tr>
                  <br>
                </table>
                <hr>
                <br>
                </div>
            </div>
        </div>
          
        </div>
      </div>
      
    </div>
  </div>
    
</div>
<br>
