body{
  margin: 0;
}
#panel_okno_tlo {
  left: 0%;
  width: 100%;
}
#panel_okno_cialo {
  width:98%;

}
#panel_naglowek_tlo {
  width: 80%;
  left: 10%;
}
#panel_naglowek_cialo {
  padding:1px;
}
#panel_opcje_tlo{
  overflow: auto;
}

#opcja_1,#opcja_2,#opcja_3{
  width:32%;
  padding:0px;
  margin:0px;
  float:left;
  position:relative;
  height:60px;
  
  vertical-align: middle;
    cursor: pointer;
  border: 5px double var(--dark-bkg);
  border-radius: 10px; 
}
#opcja_1{
  line-height: 50px;
  left:0.5%;
}
#opcja_2{
  left:2%;
line-height: 25px;
}
#opcja_3{
  left:3.5%;
line-height: 25px;
}
#opcja_1:hover,#opcja_2:hover,#opcja_3:hover,#opcja_4:hover{
  background-color: rgba(var(--dark-bkg-rgb), 0.4);
}

#panel_tresc_cialo{
  overflow:auto;
}


#div1{
  color: var(--white-text);
  height: 50px;
  width: 33%;
  background-color: var(--dark-bkg);
  float: left;
}
#div1:hover,#div2:hover,#div3:hover,#div4:hover{
  background-color: rgba(var(--dark-bkg-rgb), 0.4);
}
#div2{
  color: var(--white-text);
  height: 50px;
  width: 33%;
  background-color: var(--dark-bkg);
  float: left;
}
#div3{
  color: var(--white-text);
  height: 50px;
  width: 34%;
  background-color: var(--dark-bkg);
  float: left;
}
.zakladka-admina{
  background-color:var(--content-bkg);
  width:100%;
  float:right;
}
input[type=textarea],input[type=text], input[type=password]{
  border: 7px double var(--input-border);
  border-radius: 15px;
  width:300px;
  height:30px;
  background-color: rgba(var(--header-bkg-rgb), 0.6);
  color: var(--white-text);
  font-size: 15px;
  padding-left:10px;
  padding-right:10px;
}
td{
  border: solid var(--content-bkg) 1px;
}
select,option{
  padding:5px;
  background: red;
  font-size: 15px;
  border: 7px double var(--input-border);
  border-radius: 15px;
  background-color: rgba(var(--header-bkg-rgb), 0.6);
  color: var(--white-text);
}

#panel_dodaj_tlo {
  width:25%;
}
#panel_wyswietl_tlo{
  width:30%;
}
#panel_dodaj_cialo {
  font-size:20pt;
}
#tabela_uzytkownikow{
  text-align: center;
  overflow-x: scroll;
  overflow-y: scroll;
  border-collapse: collapse;
}
#tabela_uzytkownikow thead{
    background-color: rgba(var(--header-bkg-rgb), 0.4);
    border-left: rgba(var(--header-bkg-rgb), 0.4);
    border-right: rgba(var(--header-bkg-rgb), 0.4);
    border-collapse: collapse;
}

#tabela_uzytkownikow tr:nth-of-type(4n){
    background-color: rgba(var(--header-bkg-rgb), 0.2);
    border-left: rgba(var(--header-bkg-rgb), 0.2);
    border-right: rgba(var(--header-bkg-rgb), 0.2);
    border-collapse: collapse;
}