#glowna_tlo {
  left: 0%;
  width: 100%;
}
#glowna_cialo {
  width:98%;

}
#glowna_naglowek_tlo {
  width: 70%;
  left: 15%;
}
#glowna_naglowek_cialo {
  padding:1px;
}
#glowna_submit_tlo_left {
  float: left;
  width: 40%;
  left: 5%;
}
#glowna_submit_tlo_right {
  float: right;
  width: 40%;
  right: 5%;
}
#glowna_kategorie_tlo{
  width: 40%;
}
#glowna_submit_cialo {

}
#glowna_submit_tlo_left input[type="submit"] {

}
#glowna_submit_tlo_left label {

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom:5px;

}
#glowna_submit_tlo_left label:hover {
  
}
#glowna_submit_tlo_left input[type="submit"]:active + label {
  
}
#glowna_submit_tlo_right input[type="submit"] {

}
#glowna_submit_tlo_right label {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom:5px;
}
#glowna_submit_tlo_right label:hover {

}
#glowna_submit_tlo_right input[type="submit"]:active + label {

}