
<div class="main-div" align="center">

  <div class="okno_tlo" id="glowna_tlo">
    <div class="okno_cialo" id="glowna_cialo"> 
      <div class="naglowek_tlo" id="glowna_naglowek_tlo">
        <div class="naglowek_cialo" id="glowna_naglowek_cialo">
          <h1>REKRUTEX</h1>
        </div>
      </div>
      
      <br>
      <br />

          <h3>
            Rozwiąż quiz i tak się nie dostaniesz!<br>
            <br>
            Możliwość wysłania CV tylko dla wybranych!
          </h3>

      <br>
      <br />

      <div *ngIf="isUser==false" class="przycisk_tlo" id="glowna_submit_tlo_left">
        <a routerLink="/logowanie" routerLinkActive="active">
        <div class="przycisk_cialo" id="glowna_submit_cialo">
          <input class="przycisk_input" type="submit" id="glowna_zaloguj">
          <label class="przycisk_label" for="glowna_zaloguj"><h3>Zaloguj się</h3></label>
        </div>
        </a>
      </div>
	  
	  <div *ngIf="isUser==false" class="przycisk_tlo" id="glowna_submit_tlo_right">
        <a routerLink="/rejestracja" routerLinkActive="active">
        <div class="przycisk_cialo" id="glowna_submit_cialo">
          <input class="przycisk_input" type="submit" id="glowna_rejestruj">
          <label class="przycisk_label" for="glowna_rejestruj"><h3>Zarejestruj się</h3></label>
        </div>
        </a>
      </div>

    <div *ngIf="isUser==true"  align="center">
      <h3 align="center">Przejdź do kategorii dostępnych stanowisk i quizu:</h3>
      <br>
      <div class="przycisk_tlo" id="glowna_submit_cialo" id="glowna_kategorie_tlo">
      <a routerLink="/kategorie" routerLinkActive="active">
        <div class="przycisk_cialo" id="glowna_submit_cialo">
          <input class="przycisk_input" type="submit" id="glowna_kategorie" align="center" >
          <label class="przycisk_label" for="glowna_kategorie">Kategorie</label>
        </div>
      </a>
      </div>
      <br>
      
    </div>
  
  
    </div>
  </div>
</div>
