

@media all and (orientation:landscape){
  #quiz_tlo {
    left: 5%;
    padding: 0.5%;
    width: 90%;
  }
  
  #quiz_prawo {
    box-sizing: border-box;
    float: left;
    width: 35%;
    left: 10%;
    position: relative;
  }

}
@media all and (orientation:portrait){
  #quiz_tlo {
    left: 0%;
    padding: 0.5%;
    width: 100%;
  }
  
  #quiz_prawo {
    box-sizing: border-box;
    float: left;
    width: 45%;
    left: 5%;
    position: relative;
  }

}

#quiz_cialo {
  padding: 3%;
  width:100%;
}
#quiz_naglowek_tlo {
  width: 90%;
  left: 5%;
}
#quiz_naglowek_cialo {
  padding:1px;
}
#quiz_pytanie_tlo {

}
#quiz_pytanie_cialo {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom:5px;
}
#quiz_odpowiedz_tlo {
  padding: 0.5%;
  margin:1%;
}
#quiz_odpowiedz_cialo {

}
#quiz_odpowiedz_tlo input[type="radio"] {

}
#quiz_odpowiedz_tlo label {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom:15px;
}
#quiz_odpowiedz_tlo label:hover {

}
#quiz_odpowiedz_tlo input[type="radio"]:checked + label {

}
#quiz_stopka{
    position:relative;
    display:flex;
    padding:0px;
}
#quiz_lewo {
  box-sizing: border-box;
  float:left;
  width:50%;
  left:0%;
  position:relative;
}

#quiz_submit_tlo {
  top:25%;
}
#quiz_submit_cialo {
  font-size:20pt;
}
#quiz_submit_tlo input[type="submit"] {

}
#quiz_submit_tlo label {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom:5px;
}
#quiz_submit_tlo label:hover {

}
#quiz_submit_tlo input[type="submit"]:active + label {

}
#quiz_tekst_cialo{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom:5px;
}

.quizResult {
  position: absolute;
  top:250px;
  height: 60%;
  width: 60%;
  background-color: var(--popup-bkg);
  color: var(--white-text);
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  border: 7px double rgba(var(--main-div-bkg-rgb), 0.7);
  border-radius: 15px;

}
.log-register p {
  color: var(--white-text);
  height: 70px;
  width: 200px;
  border: 7px double rgba(var(--main-div-bkg-rgb), 0.7);
  border-radius: 15px; 
  background-color: var(--dark-bkg);
  font-size: 18px;
}
.log-register a {
  color: var(--white-text);
}
.log-register p:hover {
  transform: scale(1.08, 1.08);
  background-color: rgba(var(--dark-bkg-rgb), 0.4);
}
.quizResult button:hover{
  transform: scale(1.08, 1.08);
  background-color: rgba(var(--dark-bkg-rgb), 0.8);
}
.quizResult button {
  color: var(--white-text);
  height: 70px;
  width: 200px;
  font-size: 25px;
  border: 7px double rgba(var(--main-div-bkg-rgb), 0.7);
  border-radius: 15px; 
  background-color: var(--dark-bkg);
}

/* .timer {
  top:20px;
  margin-right: 2%;
  float: right;
  position: sticky;
  height: 200px;
  width: 200px;
  font-size: 20px;
  border: 4px double rgba(var(--dark-bkg-rgb), 0.7);
  border-radius: 10px; 
  background-color: var(--content-bkg);
} */
