#quiz_tlo {
  left: 0%;
  padding: 0.5%;
  width: 90%;
}
#quiz_cialo {
  padding: 3%;
  width:100%;
}
#quiz_naglowek_tlo {
  width: 90%;
  left: 5%;
}
#quiz_naglowek_cialo {
  padding:1px;
}
#quiz_pytanie_tlo {

}
#quiz_pytanie_cialo {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom:5px;
}
#quiz_odpowiedz_tlo {
  padding: 0.5%;
  margin:1%;
}
#quiz_odpowiedz_cialo {

}
#quiz_odpowiedz_tlo input[type="radio"] {

}
#quiz_odpowiedz_tlo label {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom:15px;
}
#quiz_odpowiedz_tlo label:hover {

}
#quiz_odpowiedz_tlo input[type="radio"]:checked + label {

}
#quiz_stopka{
    position:relative;
    display:flex;
    padding:0px;
}
#quiz_lewo {
  box-sizing: border-box;
  float:left;
  width:50%;
  left:0%;
  position:relative;
}
#quiz_prawo {
  box-sizing: border-box;
  float: left;
  width: 35%;
  left: 10%;
  position: relative;
}
#quiz_submit_tlo {
  top:25%;
}
#quiz_submit_cialo {
  font-size:20pt;
}
#quiz_submit_tlo input[type="submit"] {

}
#quiz_submit_tlo label {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom:5px;
}
#quiz_submit_tlo label:hover {

}
#quiz_submit_tlo input[type="submit"]:active + label {

}
#quiz_tekst_cialo{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom:5px;
}
