<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<input type="checkbox" id="toggler" />
<aside class="aside-wrapper">
  <label for="toggler">
    <div class="logo" id="menu_header"> 
      REKRUTEX
      <img src="assets/Logo_Bez_Napisu_Male.png" id="logo_obrazek">
    </div>
  </label>
  <ul>
    <li *ngIf="isUser" id="logged_user">
      <div class="przycisk_tlo" id="menu_witaj_tlo">
        <div class="przycisk_cialo" id="menu_witaj_cialo">
          <label class="przycisk_label menu_label" id="menu_witaj_label">Witaj {{user.Name}} {{user.LastName}}!</label>
        </div>
      </div>
    </li>
    <li>
      <div class="przycisk_tlo" id="menu_przycisk_tlo_SG">
        <div class="przycisk_cialo" id="menu_przycisk_cialo_SG">
          <a routerLink="/strona-glowna" routerLinkActive="active">
            <input class="przycisk_input" type="submit" id="menu_glowna">
            <label class="przycisk_label menu_label" id="menu_przycisk_label_SG" for="menu_glowna">STRONA GŁÓWNA</label>
          </a>
        </div>
      </div>
    </li>
    <li>
      <div class="przycisk_tlo" id="menu_przycisk_tlo_KAT">
        <div class="przycisk_cialo" id="menu_przycisk_cialo_KAT">
          <a routerLink="/kategorie" routerLinkActive="active">
            <input class="przycisk_input" type="submit" id="menu_kategorie">
            <label class="przycisk_label menu_label" id="menu_przycisk_label_KAT" for="menu_kategorie">KATEGORIE</label>
          </a>
        </div>
      </div>
    </li>
    <li *ngIf="isUser==false">
      <div class="przycisk_tlo" id="menu_przycisk_tlo_LOG">
        <div class="przycisk_cialo" id="menu_przycisk_cialo_LOG">
          <a routerLink="/logowanie" routerLinkActive="active">
            <input class="przycisk_input" type="submit" id="menu_logowanie">
            <label class="przycisk_label menu_label" id="menu_przycisk_label_LOG" for="menu_logowanie">LOGOWANIE</label>
          </a>
        </div>
      </div>
    </li>
    <li *ngIf="isAdmin==true">
      <div class="przycisk_tlo" id="menu_przycisk_tlo_LOG">
        <div class="przycisk_cialo" id="menu_przycisk_cialo_LOG">
          <a routerLink="/panel-administratora" routerLinkActive="active">
            <input class="przycisk_input" type="submit" id="menu_logowanie">
            <label class="przycisk_label menu_label" id="menu_przycisk_label_LOG" for="menu_panel">PANEL ADMINISTRATORA</label>
          </a>
        </div>
      </div>
    </li>
    <li *ngIf="isAdmin==true">
      <div class="przycisk_tlo" id="menu_przycisk_tlo_LOG">
        <div class="przycisk_cialo" id="menu_przycisk_cialo_LOG">
          <a routerLink="/ranking" routerLinkActive="active">
            <input class="przycisk_input" type="submit" id="menu_logowanie">
            <label class="przycisk_label menu_label" id="menu_przycisk_label_LOG" for="menu_ranking">RANKING</label>
          </a>
        </div>
      </div>
    </li>
    <li id="logout" *ngIf="isUser" (click)="logout()">
      <div class="przycisk_tlo" id="menu_przycisk_tlo_WYLOG">
        <div class="przycisk_cialo" id="menu_przycisk_cialo_WYLOG">
          
          <input class="przycisk_input" type="submit" id="menu_wylogowania">
          <label class="przycisk_label menu_label" id="menu_przycisk_label_WYLOG" for="menu_wylogowania">WYLOGUJ</label>
        
        </div>
      </div>
    </li>
  </ul>
  
</aside>
<button class="styleButton" (click)="toggleGreyTheme()">Zmień styl</button>
<router-outlet></router-outlet>
