aside {
  width: 20%;
  background: #60bfbf;
  position: fixed;

  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}

.aside-wrapper {
  padding: 0px 0px;
  box-sizing: border-box;
  z-index: 10;
}

.logo {
  width: 105%;
  line-height: 50px;
  font-size: 32px;
  color: #bfffff;
  background: #397373;
  padding: 0px 10px;
  position: static;
  cursor: pointer;
}

aside ul {
  padding-inline-start: 0;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #000000;
}

aside ul li {
  list-style: none;
  font-size: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: #000000;
  cursor: pointer;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:active {color: black;}

a:visited {
  color: #000000;
}

a:hover {
  color: #ffffff;
}

input {
  display: none;
}

/* Toggler Functionality */
input:checked ~ aside {
  left: -20%;
}