aside {
  width: 15%;
  background: rgba(var(--content-bkg-rgb),0.35);
  position: fixed;
  left:-0.25%;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}


.aside-wrapper {
  padding: 0px 0px;
  box-sizing: border-box;
  z-index: 10;
}

.logo {
  width: 120%;
  left:-5%;
  line-height: 50px;
  font-size: 32px;
  color: var(--main-div-bkg);
  background: var(--header-bkg);
  padding: 5px 10px;
  position: static;
  cursor: pointer;
  
  border: 5px double var(--dark-bkg);
  border-left: none;
  border-radius: 10px;
  vertical-align: middle;
  
  content: "";
  clear: both;
  display: table;
}
#menu_header{
  
  
}
#menu_witaj_tlo{
  left:-5%;
  
  width:115%;
}
#menu_przycisk_tlo_SG,#menu_przycisk_tlo_KAT,#menu_przycisk_tlo_LOG,#menu_przycisk_tlo_WYLOG {
  left:-5%;
  width:115%;
  text-align: center;
  z-index: auto;
  position:relative;
}
#menu_przycisk_tlo_SG :hover{
  transform: scale(1.05);
  z-index: 10;
  
}
#menu_przycisk_tlo_SG :hover label{
  background: var(--main-div-bkg);
}

#menu_przycisk_tlo_KAT :hover{
  transform: scale(1.05);
  z-index: 10;
}
#menu_przycisk_tlo_KAT :hover label{
  background: var(--main-div-bkg);
}

#menu_przycisk_tlo_LOG :hover{
  transform: scale(1.05);
  z-index: 10;
}
#menu_przycisk_tlo_LOG :hover label{
  background: var(--main-div-bkg);
}

#menu_przycisk_tlo_WYLOG :hover{
  transform: scale(1.05);
  z-index: 10;
}
#menu_przycisk_tlo_WYLOG :hover label{
  background: var(--main-div-bkg);
}

.menu_label :hover{
  background-color: red;
}

.menu_label{
  background: var(--light-bkg);
  padding:15px;
}
#menu_witaj_label{
  background: var(--content-bkg);
}

.przycisk_tlo{
  padding:0px;
  margin: 0px;
}

aside ul {
  padding-inline-start: 0;
  border-bottom: 0px solid;
  border-top: 0px solid;
  border-color: #000000;
  margin:0px;
}

aside ul li {
  list-style: none;
  font-size: 20px;
  padding: 1px 10px;
  margin:0px;
  border-bottom: 0px solid;
  border-top: 0px solid;
  border-color: #000000;
  cursor: pointer;
}


input {
  display: none;
}

#logout:hover {
  color: var(--white-text) !important;
} 

/* Toggler Functionality */
#toggler:checked ~ aside {
  left: -15%;
}
/*
#toggler:hover ~ aside {
  left:-0.25%;
}*/

.styleButton {
  top:5px;
  margin-right: 2%;
  float: right;
  position: sticky;
  color: var(--white-text);
  height: 50px;
  width: 150px;
  font-size: 20px;
  border: 5px double rgba(var(--dark-bkg-rgb), 0.7);
  border-radius: 10px; 
  background-color: var(--content-bkg);
}

#logged_user{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 0px;
  
}
#logo_obrazek{
  width:50px;
  height:50px;
  right:0%;
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  float:right;
}