<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div style="height:300px;width:400px;border: solid black 4px;">
  <div style="height:40%;width:40%;float:left;border: solid red 2px;">
    aaa
  </div>
  <div style="height:40%;width:40%;float:right;border: solid blue 2px;">
    bbb
  </div>
  <div style="height:40%;width:40%;float:left;border: solid green 2px;">
    TestSM
  </div>
</div>
<router-outlet></router-outlet>
