/* You can add global styles to this file, and also import other style files */
body {
    background-color: #bbdddd;
    font-family: Arial; 
}
a:link {
    color: #000000;
    text-decoration: none;
}
  
a:active {color: black;}
  
a:visited {
    color: #000000;
}
  
a:hover {
    color: #ffffff;
}

a {
    text-decoration: none;
}

.main-div {
    height: 80%;
    width: 50%;
    background-color: #bfffff;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    display: block;
    font-size: 20px;
    font-weight: 600;

}

.okno_tlo{
  
  
}
.okno_cialo{
  
  
}

.naglowek_tlo{
  
  
}
.naglowek_cialo{
  
  
}

.trest_tlo{
  
  
}
.tresc_cialo{
  
  
}

.input_tlo{
  
  
}
.input_cialo{
  
  
}

.przycisk_tlo{
  
  
}
.przycisk_cialo{
  
  
}

.obrazek_tlo{
  
  
}
.obrazek_cialo{
  
  
}

.tekst_tlo{
  
  
}
.tekst_cialo{
  
  
}


