#formularz_tlo {
  left: 0%;
  padding: 0.5%;
  width: 100%;
}
#formularz_cialo {
  padding: 3%;
}

#formularz_naglowek_cialo {
  padding:1px;
}
#formularz_tresc_tlo {

}
#formularz_tresc_cialo {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom:5px;
}
#formularz_interakcja{
  position:relative;
  display:flex;
  padding:0px;
}
#formularz_lewo {
  width:50%;
  left:0%;
  position:relative;
}
#formularz_prawo {
  width: 40%;
  left: 10%;
  position: relative;
}
#formularz_input_tlo {
  padding: 0.5%;
  height: 162px;
}
#formularz_input_cialo {
  height:100%;
}
#formularz_textbox{
    width:97%;
    height:150px;
    text-align:center;
    border: 5px double var(--dark-bkg);
    border-radius: 10px; 
}

#formularz_upload_cialo {
  font-weight: bold;
  padding:5px;
}
#formularz_obrazek_tlo {
  background-color: var(--main-div-bkg);
  box-sizing: border-box;
  padding: 0.5%;
  text-align: center;
}
#formularz_obrazek_cialo {
  background-color: var(--main-div-bkg);
  box-sizing: border-box;
  border:solid gray 1px;
  height:120px;
  position:relative;
  width:50%;
  left:25%;
}

#formularz_submit_cialo {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}
#formularz_submit_tlo input[type="submit"] {
  
}
#formularz_submit_tlo label {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom:15px;
}
#formularz_submit_tlo label:hover {

}
#formularz_submit_tlo input[type="submit"]:active + label {
  
}
#formularz_upload_tlo input[type="file"] {

}
#formularz_upload_tlo label {
  width:100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom:15px;
}
#formularz_upload_tlo label:hover {

}
#formularz_upload_tlo input[type="file"]:active + label {

}
#formularz_tekst_cialo{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom:5px;
}

@media all and (orientation:landscape){
  #formularz_naglowek_tlo {
    padding: 0.5%;
    width: 80%;
    left: 10%;
  }
  
  #formularz_submit_tlo {
  padding: 0.5%;
  width: 40%;
  left: 30%;
  }
  
  #formularz_upload_tlo {
    padding: 0.5%;
    width: 90%;
    left: 5%;
    box-sizing: border-box;
  }
  #formularz_upload_cialo{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
  }
}
@media all and (orientation:portrait){
  #formularz_naglowek_tlo {
    padding: 0.5%;
    width: 90%;
    left: 5%;
  }
  
  #formularz_submit_tlo {
  padding: 0.5%;
  width: 50%;
  left: 25%;
  }
  
  #formularz_upload_tlo {
  padding: 0.5%;
  width: 90%;
  left: 5%;
  }
}

